# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\pawel\Documents\STUDIA\Semestr 3\Algorytmy grafowe\projekt 1\juz naprawde nie mam sily\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
